<html>
   <head>
        <meta charset="UTF-8">
        <title> {% block title %}{% endblock %} - Auth </title>
		  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"> 
		  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
		  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">       
   </head>
   <body>
	<div class="wrapper">
			{% block logo %}{% endblock %}
		  	{% block header_form %}{% endblock %}
			{% if msg %}
			  <center><div class="alert alert-warning">{{msg}}</div></center>
			{% endif %}			
			{% block content %}{% endblock %}
			{% block btn_bottom%} {% endblock %}
	</div>
 </body>
</html>
{% block js %}{% endblock %}