{% extends 'user/base_auth.html' %}
<h1>{% block title %}Lupa Password {% endblock %}</h1>

{% block logo %}
	<div class="logo">
		<img src="https://www.freepnglogos.com/uploads/coffee-logo-png/coffee-house-creative-logo-vector-download-17.png" alt="">
	</div>
{% endblock %}

{% block header_form %}
	<div class="text-center mt-4 name">
		Lupa Password
	</div>
	<div class="text-center fs-6">
	Masukkan email anda agar menerima Link untuk reset password, Terimakasih
	</div>
{% endblock %}

{% block content %}
<form class="p-3 mt-3" action="{{ url_for('form_x.resend_forgot_password') }}" method="post">
	 <div class="form-field d-flex align-items-center">
		  <span class="far fa-user"></span>
		  <input id="email" name="email" type="text" placeholder="Email" />
	 </div>
	 <div class="text-center">
		<p id="message_pesan"></p>
		<div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
		</div>
	 </div>
	 <button class="btn mt-3 block_login" onclick="theFunction()">Submit</button>
</form>
{% endblock %}

{% block btn_bottom%} 
{% endblock %}

{% block js %}
<script type="text/javascript">
    var $loading = $('.spinner-grow').hide();
    function theFunction_form_forgot () {
        $loading.show();
        someVar="Harap Menunggu"
        document.getElementById('message_pesan').innerText = someVar;
        $('.block_login').addClass("disabled")
    }
</script>
{% endblock %}