{% extends 'user/base_auth.html' %}
<h1>{% block title %}Login {% endblock %}</h1>

{% block logo %}
	<div class="logo">
		<img src="https://www.freepnglogos.com/uploads/coffee-logo-png/coffee-house-creative-logo-vector-download-17.png" alt="">
	</div>
{% endblock %}

{% block header_form %}
	<div class="text-center mt-4 name">
		Login
	</div>
{% endblock %}

{% block content %}
<form class="p-3 mt-3" action="{{ url_for('form_x.login') }}" method="post"> 
	<div class="form-field d-flex align-items-center">
		 <span class="far fa-user"></span>
		 <input id="username" name="username" type="text" placeholder="Username" />
	</div>
	<div class="form-field d-flex align-items-center">
		 <span class="fas fa-key"></span>
		 <input type="password" name="password" id="pwd" placeholder="Password">
	</div>
	<div class="text-center">
	   <p id="message_pesan"></p>
	   <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
	   </div>
	</div>
	<button class="btn mt-3 block_login" onclick="theFunction_login()">Login</button>
</form>
{% endblock %}

{% block btn_bottom%} 
	<div class="text-center fs-6">
		<a href="{{url_for('form_x.resend_forgot_password')}}">Forget password?</a> or <a href="{{url_for('form_x.register')}}">Signup</a>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	var $loading = $('.spinner-grow').hide();
	function theFunction_login () {
		$loading.show();
        someVar="Harap Menunggu"
        document.getElementById('message_pesan').innerText = someVar;
        $('.block_login').addClass("disabled")
    }
</script>
{% endblock %}