{% extends 'user/base_auth.html' %}
<h1>{% block title %}Sign Up {% endblock %}</h1>

{% block logo %}
	<div class="logo">
		<img src="https://www.freepnglogos.com/uploads/coffee-logo-png/coffee-house-creative-logo-vector-download-17.png" alt="">
	</div>
{% endblock %}

{% block header_form %}
	<div class="text-center mt-4 name">
		Register
	</div>
{% endblock %}

{% block content %}
   <form class="p-3 mt-3" name="Form" action="{{ url_for('form_x.register') }}" method="post">
      <div class="form-field d-flex align-items-center">
         <span class="far fa-user"></span>
         <input id="username" name="username" type="text" placeholder="Username"/>
      </div>
      <div class="form-field d-flex align-items-center">
         <span class="fas fa-key"></span>
         <input type="password" name="password" id="pwd" placeholder="Password">
      </div>
      <div class="form-field d-flex align-items-center">
         <span class="fas fa-user"></span>
         <input type="text" name="first_name" id="first_name" placeholder="First Name">
      </div>
      <div class="form-field d-flex align-items-center">
         <span class="fas fa-user"></span>
         <input type="text" name="last_name" id="last_name" placeholder="Last Name">
      </div>
      <div class="form-field d-flex align-items-center">
         <span class="fas fa-envelope"></span>
         <input type="email" name="email" id="email" placeholder="Email">
      </div>
      <div class="text-center">
         <p id="message_pesan"></p>
         <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
         </div>
      </div>
      <button id="block_submit" class="btn mt-3" onclick="theFunction_register()">Submit</button>
   </form>
{% endblock %}

{% block btn_bottom%} 
	<div class="text-center fs-6">
		<a href="{{url_for('form_x.resend_forgot_password')}}">Forget password?</a> or <a href="{{url_for('form_x.register')}}">Sign in</a>
   </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
   var $loading = $('.spinner-grow').hide();
   function theFunction_register () {
      var a = document.forms["Form"]["username"].value;
      var b = document.forms["Form"]["password"].value;
      var c = document.forms["Form"]["first_name"].value;
      var d = document.forms["Form"]["last_name"].value;
      var e = document.forms["Form"]["email"].value;
      if (a == null || a == "", b == null || b == "", c == null || c == "", d == null || d == "" ,e == null || e == "") {
         alert("Please Fill All Required Field");
         return false;
      }
      else{
         if(ValidateEmail(e)){
            $loading.show();
            someVar="Harap Menunggu"
            document.getElementById('message_pesan').innerText = someVar;
            $('#block_submit').addClass("disabled")
         }
      }
       // return true or false, depending on whether you want to allow the `href` property to follow through or not
   }
   function ValidateEmail(mail) 
   {
   if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
   {
      return true;
   }
      alert("You have entered an invalid email address!")
      return false;
   }
</script>
{% endblock %}